node_modules
coverage
artifacts
dist

# Local configuration / system files
.env
.DS_Store

# Terraform
**/.terraform
**/.terraform.lock.hcl
**/.terraform/**/*
**/**.tfvars
**/**.tfstate
**/**.tfenv

# End of https://www.toptal.com/developers/gitignore/api/macos,osx,visualstudiocode,terraform



.nx/cache
.nx/workspace-data
