name: Release to env

permissions:
  contents: read
  id-token: write

on:
  workflow_call:
    inputs:
      ENVIRONMENT_NAME:
        description: 'Environment name'
        type: string
        required: true
    secrets:
      AWS_REGION:
        description: 'AWS Region to deploy to'
        required: true
      ROLE_TO_ASSUME:
        description: 'AWS deployment role to assume'
        required: true
      TF_STATE_BUCKET:
        description: 'Name of the s3 bucket holding TF state'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          audience: sts.amazonaws.com
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Build bundles
        run: npm run build

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform deploy
        working-directory: ./terraform/notifications
        run: |
          terraform init \
            -backend-config "region=$TF_VAR_region" \
            -backend-config "bucket=$TF_VAR_bucket" \
            -backend-config "key=$TF_VAR_key"
          terraform apply -auto-approve
        env:
          TF_VAR_region: ${{ secrets.AWS_REGION }}
          TF_VAR_bucket: ${{ secrets.TF_STATE_BUCKET }}
          TF_VAR_env: ${{ inputs.ENVIRONMENT_NAME }}
          TF_VAR_key: state.json
