name: Release test (Branch) - env

on: pull_request

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: Dev
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Show OIDC claims (right before assume)
        env:
          AUDIENCE: 'sts.amazonaws.com'
        run: |
          TOKEN_JSON=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=$AUDIENCE")
          ID_TOKEN=$(echo "$TOKEN_JSON" | jq -r .value)
          echo "$ID_TOKEN" | awk -F. '{print $2}' | base64 -d 2>/dev/null | jq -r '.sub'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          audience: sts.amazonaws.com
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
          aws-region: ${{ vars.TF_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Build bundles
        run: npm run build

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform deploy
        working-directory: ./terraform/notifications
        run: |
          terraform init \
            -backend-config "region=$TF_VAR_region" \
            -backend-config "bucket=$TF_VAR_bucket" \
            -backend-config "key=$TF_VAR_key"
          terraform plan
        env:
          TF_VAR_region: ${{ vars.TF_REGION }}
          TF_VAR_bucket: ${{ secrets.TF_BUCKET }}
          TF_VAR_key: ${{ vars.TF_KEY }}
          TF_VAR_env: ${{ vars.TF_ENV }}
