name: Release test (Branch)

on: pull_request

permissions:
  contents: read
  id-token: write

jobs:
  releaseTest:
    name: Deploy to dev
    uses: ./.github/workflows/_deploy.yml
    with:
      ENVIRONMENT_NAME: 'dev'
      VERSION: 'test'
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_AWS_DEPLOYMENT_ROLE }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      TF_STATE_BUCKET: ${{ secrets.DEV_TF_STATE_BUCKET }}
