name: Release test (Branch)

on: pull_request

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Log GH ref
        run: echo "Branch ref test ${{ github.ref }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          audience: sts.amazonaws.com
          role-to-assume: ${{ secrets.DEV_AWS_DEPLOYMENT_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Build bundles
        run: npm run build

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform deploy
        working-directory: ./terraform/notifications
        run: |
          terraform init \
            -backend-config "region=$TF_VAR_region" \
            -backend-config "bucket=$TF_VAR_bucket" \
            -backend-config "key=$TF_VAR_key"
          terraform plan
        env:
          TF_VAR_region: ${{ secrets.AWS_REGION }}
          TF_VAR_bucket: ${{ secrets.DEV_TF_STATE_BUCKET }}
          TF_VAR_key: state.json
          TF_VAR_env: dev
