name: Deployment pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        type: environment
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Build bundles
        run: npm run build

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform initialize
        working-directory: ./terraform/notifications
        run: terraform init -backend-config "bucket=${{ secrets.TF_STATE_BUCKET }}" -backend-config "key={{ vars.TF_KEY }}" -backend-config "region=${{ vars.TF_REGION }}""

      - name: Terraform plan
        working-directory: ./terraform/notifications
        run: terraform plan
