name: Deployment

on:
  workflow_dispatch:
    #checkov:skip=CKV_GHA_7: "GitHub Actions contain workflow_dispatch inputs parameters" - in this case parameters are locked down to environments available in GH - invalid flag.
    inputs:
      environment:
        description: 'Environment to deploy to'
        type: environment
        required: true
        default: dev
  push:
    branches:
      - 'feat/NOT-81**'

permissions: read-all

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      AWS_REGION: ${{ vars.TF_region }}
      TF_region: ${{ vars.TF_region }}
      TF_bucket: ${{ secrets.TF_STATE_BUCKET }}
      TF_key: ${{ vars.TF_key }}
      TF_env: ${{ vars.TF_env }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Build bundles
        run: npm run build

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform initialize
        working-directory: ./terraform/notifications
        run: terraform init -backend-config "bucket=${{ secrets.TF_STATE_BUCKET }}" -backend-config "key=${{ vars.TF_key }}" -backend-config "region=${{ vars.TF_region }}"

      - name: Terraform plan
        working-directory: ./terraform/notifications
        run: terraform plan
