name: PR pipeline

on:
  # Trigger the workflow on pull request
  pull_request

jobs:
  pr:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Run Lint Script
        run: npm run format

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Formatting
        working-directory: ./terraform/notifications
        run: terraform fmt -check

      - name: Terraform validate
        working-directory: ./terraform/notifications
        run: terraform validate

      - name: TF Sec
        uses: aquasecurity/tfsec-action@v1.0.0

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12
        with:
          output_format: cli,sarif
          output_file_path: console,results.sarif
          soft_fail: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: results.sarif
