name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    outputs:
      semVer: ${{ steps.release.outputs.version }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.node-version'

      - name: Install Dependencies
        run: npm ci

      - name: Run Semantic Release
        id: release
        run: npm run semantic:release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Version
        run: echo "The next version is ${{ steps.release.outputs.semVer }}"

  releaseToDev:
    needs: release
    name: Deploy to dev
    uses: ./.github/workflows/_deploy.yml
    with:
      ENVIRONMENT_NAME: 'dev'
      VERSION: ${{needs.release.outputs.semVer}}@${{ github.sha }}
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_AWS_DEPLOYMENT_ROLE }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      TF_STATE_BUCKET: ${{ secrets.DEV_TF_STATE_BUCKET }}
